.proyectsContainer {
	display: flex;
	margin-bottom: 3em;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vw;
}

.proyectContent {
	display: flex;
	flex-direction: column;
	width: 50vw;
	height: fit-content;
}

.cardImg {
	border-radius: 0;
	padding: 0.7em 0.7em 0 0.7em;
}

.proyectText {
	display: flex;
	padding: 0.2em;
	color: #141B38;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.3vw;
	background-color: #5777F7;
}

.card {
	display: flex;
	border: 1px solid #5777F7 !important;
	background-color: transparent;
	border-radius: 0%;
	margin: 0.5em !important;
}

.cardTitle {
	font-family: 'Roboto Mono', monospace;
	font-size: 1.1vw;
	color: #5777F7;
}

.cardText {
	font-family: 'Roboto Mono', monospace;
	font-size: 1vw;
	color: rgb(162, 165, 168);
}

.cardFooter {
	color: #141B38 !important;
	background-color: #5777F7;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.8vw;
	font-weight: 600;
	border-radius: 0 !important;
}

.cardFooter a {
	text-decoration: none !important;
	color: #141B38 !important;
}

.btnProyects {
	margin-top: 2em;
	background-color: #5777F7;
	font-family: 'Roboto Mono', monospace;
	color: #141B38 !important;
	border-style: none !important;
}

.moreProyectsContainer {
	display: none
}

@media (max-width: 1000px) {
	.proyectContent {
		width: 65vw;
	}

	.cardFooter {
		font-size: 1.5vw;
	}

	.card {
		margin: 0 0 0.5em 0 !important;
	}

	.groupContainer {
		flex-direction: column;
	}
	.proyectText {
		font-size: 2vw;
	}

	.cardTitle {
		font-size: 2vw;
	}

	.cardText {
		font-size: 1.7vw;
	}

	.cardFooter {
		font-size: 2vw;
	}
}

@media (max-width: 700px) {
	.proyectContent {
		width: 70vw;
	}

	.cardFooter {
		font-size: 2.5vw;
	}
	.proyectText {
		font-size: 3.5vw;
	}

	.cardTitle {
		font-size: 4vw;
	}

	.cardText {
		font-size: 3vw;
	}

	.cardFooter {
		font-size: 2.8vw;
	}

	.moreProyectsContainer {
		display: flex;
		margin-top: 1em;
		flex-direction: column;
	}

	.moreProyectsContainer a{
		text-decoration: none;
	}

	.moreContainer{
		background-color: #5777F7;
		color: #141B38;
		font-family: 'Roboto Mono', monospace;
		padding: 0.5em;
		margin-bottom: 1em;
		font-size: 3vw;
	}
}
