.techContainer {
	display: flex;
	margin-top: 5em;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.techContent {
	display: flex;
	flex-direction: column;
	height: fit-content;
}

.techText {
	display: flex;
	padding: 0.2em;
	color: #181818;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5em;
	background-color: #f2e205;
	margin-bottom: 1em;
	font-weight: 500;
}

.iconsTech {
	display: flex;
	align-items: flex-start;
	font-size: 1em;
	list-style-type: none !important;
	font-family: 'Roboto Mono', monospace;
}

.col {
	align-items: center;
}

.col li {
	width: fit-content;
	padding: 0;
}
