.techContainer {
	display: flex;
	margin-bottom: 3em;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.techContent {
	display: flex;
	flex-direction: column;
	width: 50vw;
	height: fit-content;
}

.techText {
	display: flex;
	padding: 0.2em;
	color: #181818;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.3vw;
	background-color: #f2e205;
	margin-bottom: 1em;
}

.iconsTech {
	display: flex;
	align-items: flex-start;
	font-size: 1vw;
	list-style-type: none !important;
	font-family: 'Roboto Mono', monospace;
}

.col {
	align-items: center;
}

.col li {
	width: fit-content;
	padding: 0;
}

@media (max-width: 1000px) {
	.techContent {
		width: 65vw;
	}

	.techText {
		font-size: 2vw;
	}

	.iconsTech {
		font-size: 1.7vw;
	}
}

@media (max-width: 700px) {
	.techContent {
		width: 70vw;
	}

	.techText {
		font-size: 3.5vw;
	}

	.iconsTech {
		flex-direction: column;
		font-size: 2.6vw;
		align-items: left;
	}
}
