.iconsContainer {
	position: fixed;
	left: 1em;
	bottom: 0em;
}

ul {
	display: flex;
	flex-direction: column;
	list-style-type: none !important;
	cursor: pointer;
}

li {
	cursor: pointer;
	color: #969696;
	margin-bottom: 1em;
	font-size: 1.2em;
	transition: 0.3s ease-in-out;
}

li:hover {
	color: white !important;
}

@media (max-width: 1000px) {
	.iconsContainer {
		left: 0em;
	}
}

@media (max-width: 700px) {
	.iconsContainer {
		display: none;
	}
}
