.mailContainer {
	position: fixed;
	right: -1em;
	bottom: 7em;
	transform: rotate(90deg);
}

.mail {
	display: flex;
	line-height: 0;
	margin-bottom: 3em;
	font-size: 1em;
	color: #969696;
	font-family: 'Roboto Mono', monospace;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.mailTo {
	text-decoration: none;
}

.mail:hover {
	color: white !important;
}

@media (max-width: 1000px) {
	.mailContainer {
		right: -1.5em;
		bottom: 6em;
	}

	.mail {
		font-size: 0.8em;
	}
}

@media (max-width: 700px) {
	.mailContainer {
		display: none;
	}
}
