.aboutContainer {
	display: flex;
	margin-bottom: 3em;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.aboutText {
	display: flex;
	flex-direction: column;
	width: 30vw;
}

.aboutHeader {
	display: flex;
	color: rgb(162, 165, 168);
	font-family: 'Roboto Mono', monospace;
	font-size: 1.2vw;
}

.aboutName {
	color: #f2e205 !important;
	font-family: 'Biryani', sans-serif;
	font-size: 5vw;
	margin-top: 0.2em;
}

.aboutFooter {
	display: flex;
	color: rgb(162, 165, 168);
	font-family: 'Roboto Mono', monospace;
	font-size: 1.2vw;
}

.imgAboutContainer {
	display: flex;
	outline: 3px solid #f2e205;
	margin-right: 2em;
	border-radius: 100%;
	transition: 0.3s;
}

.imgAboutContainer:hover {
	outline-offset: 1em;
}

.imgAbout {
	width: 18vw;
	z-index: 10;
	filter: saturate(0);
	transition: 0.3s;
}

.imgAbout:hover {
	filter: saturate(1);
}

@media (max-width: 1000px) {
	.aboutText {
		display: flex;
		width: 30vw;
	}

	.imgAbout {
		width: 25vw;
	}

	.aboutHeader {
		font-size: 2vw;
	}

	.aboutName {
		font-size: 10vw;
	}

	.aboutFooter {
		font-size: 2vw;
	}
}

@media (max-width: 700px) {
	.aboutContainer {
		flex-direction: column;
	}
	.aboutText {
		width: 60vw;
		margin-left: 3em;
	}

	.imgAboutContainer {
		display: none;
	}

	.aboutHeader {
		font-size: 3vw;
	}

	.aboutName {
		font-size: 10vw;
	}

	.aboutFooter {
		font-size: 3vw;
	}
}
