.aboutContainer {
	display: flex;
	margin-bottom: 3em;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.aboutText {
	display: flex;
	flex-direction: column;
	width: 50vw;
	padding: 1em;
}

.aboutHeader {
	display: flex;
	color: rgb(162, 165, 168);
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5vw;
}

.aboutName {
	color: #f2e205 !important;
	font-family: 'Biryani', sans-serif;
	font-size: 7vw;
	margin-top: 0.2em;
}

.aboutFooter {
	display: flex;
	color: rgb(162, 165, 168);
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5vw;
}

@media (max-width: 1000px) {
	.aboutText {
		display: flex;
		width: 80vw;
	}

	.aboutHeader {
		font-size: 2vw;
	}

	.aboutName {
		font-size: 10vw;
	}

	.aboutFooter {
		font-size: 2vw;
	}
}

@media (max-width: 700px) {
	.aboutText {
		width: 70vw;
	}

	.aboutHeader {
		font-size: 3vw;
	}

	.aboutName {
		font-size: 15vw;
	}

	.aboutFooter {
		font-size: 3vw;
	}
}
