.aboutContainer {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.aboutContainer show {
	opacity: 1;
}

.aboutText {
	display: flex;
	flex-direction: column;
	height: fit-content;
}

.aboutHeader {
	display: flex;
	color: rgb(162, 165, 168);
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5em;
}

.aboutName {
	color: #f2e205 !important;
	font-family: 'Biryani', sans-serif;
	font-size: 8em;
	margin-top: 0.2em;
}

.aboutFooter {
	display: flex;
	color: rgb(162, 165, 168);
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5em;
	line-height: 0;
}

@media (max-width: 700px) {
	.aboutContainer {
		justify-content: center;
		align-items: center;
		width: 100% !important;
	}

	.aboutText{
		width: fit-content;
	}

	.aboutHeader{
		font-size: 1em;
	}

	.aboutName{
		font-size: 6em;
	}

	.aboutFooter{
		font-size: 1em;
	}
}
