.formContainer {
	margin-top: 3em;
	margin-bottom: 3em;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.formInside {
	display: flex;
	flex-direction: column;
	width: 50vw;
	align-items: left;
	justify-content: center;
}

.formTitle {
	display: flex;
	width: fit-content;
	padding: 0.2em;
	color: #141b38;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.3vw;
	background-color: #5777f7;
	font-weight: 500;
}

.mb-3 {
	font-family: 'Roboto Mono', monospace;
}

.inputs {
	margin-top: 1em;
	background-color: transparent;
	color: #5777f7;
	font-size: 1.1vw;
	border-radius: 0;
	outline: none;
	border: 1px solid lightgray !important;
}

.inputs:focus {
	background-color: transparent !important;
	border: 1px solid #5777f7 !important;
	color: lightgray;
	outline: 0 !important;
	box-shadow: none !important;
}

.submit {
	display: flex;
	font-size: 1.1vw;
	width: fit-content;
	margin: 0 !important;
	border-radius: 0;
	font-family: 'Roboto Mono', monospace;
	background-color: lightgray;
	border: none;
	color: #141b38;
	box-shadow: inset 0 0 0 0 #5777f7;
}

.submit:hover {
	color: #141b38;
	box-shadow: inset 500px 0 0 0 #5777f7;
	background-color: #969696;
}

.submit:focus {
	color: #141b38;
	box-shadow: inset 500px 0 0 0 #5777f7;
	background-color: lightgray;
}

@media (max-width: 1000px) {
	.formInside {
		width: 65vw;
	}

	.formTitle {
		font-size: 2vw;
	}
	.inputs {
		font-size: 1.6vw;
	}

	.submit {
		font-size: 1.6vw;
	}
}

@media (max-width: 700px) {
	.formInside {
		width: 70vw;
	}

	.formTitle {
		font-size: 4vw;
	}
	.inputs {
		font-size: 3vw;
	}

	.submit {
		font-size: 3vw;
	}
}
