@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@900&family=Roboto+Mono:wght@200&display=swap');

.navBarContainer {
	position: fixed;
	justify-content: space-between;
	top: 0;
	width: 100%;
}

.logoNP {
	height: 2em;
	margin-left: 1em;
}

.nav-link {
	color: rgb(162, 165, 168) !important;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.9em;
	margin-right: 1.5em;
	transition: 0.3s ease-in-out !important;
}

.nav-link:hover {
	color: #f2e205 !important;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgb(242, 226, 5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

.navbar-collapse {
	flex-grow: 0 !important;
}
