.footerContainer {
	display: flex;
	bottom: 0;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}

.footerText {
	font-family: 'Roboto Mono', monospace;
	color: #969696;
	font-size: 1vw;
}

@media (max-width: 1000px) {
	.footerText {
		font-size: 2vw;
	}
}

@media (max-width: 700px) {
	.footerText {
		font-size: 2.5vw;
	}
}
