::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-thumb {
	background-color: #f2e205;
	border-radius: 100vw
}

::-webkit-scrollbar-thumb:hover {
	background-color: #bdb000;
}

::-webkit-scrollbar-track {
	background: #2c2c2c;
}

body {
	background: linear-gradient(-45deg, rgb(0, 0, 0), #2c2c2c, #000000, #0e0e0e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	overflow-x: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 800px) {
	body {
		align-items: center;
		justify-content: center;
	}
}
