body {
	background: linear-gradient(-45deg, rgb(0, 0, 0), #2c2c2c, #000000, #0e0e0e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	overflow-x: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 800px) {
	body {
		align-items: center;
		justify-content: center;
	}
}
